<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DmsDownloadRecordsMapper">
    
    <resultMap type="DmsDownloadRecords" id="DmsDownloadRecordsResult">
        <result property="id"    column="id"    />
        <result property="fileId"    column="file_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="deptId"    column="dept_id"    />
        <result property="belongteam"    column="belongteam"    />
        <result property="downloadUserid"    column="download_userid"    />
        <result property="downloadUser"    column="download_user"    />
        <result property="downloadTime"    column="download_time"    />
        <result property="downloadCount" column="download_count"/>
    </resultMap>
    <resultMap id="DmsDownloadNumbyfileId" type="int">
	    <id property="downloadCount" column="download_count"/>
	</resultMap>
	
	<resultMap type="DmsDeptfileNum" id="DmsDeptfileNumResult">
    	<result property="teamname"    column="team_name"    />
        <result property="teamid"    column="team_id"    />
         <result property="filenum"    column="file_num"    />
    </resultMap>
    
    <resultMap type="DmsClassifiedfileNum" id="DmsClassifiedfileNumResult">
    	 <result property="classifiedId"    column="classified_id"    />
         <result property="filenum"    column="file_num"    />
    </resultMap>

    <sql id="selectDmsDownloadRecordsVo">
        select id, file_id, file_name, dept_id, belongteam, download_userid, download_user, download_time from dms_download_records
    </sql>

    <select id="selectDmsDownloadRecordsList" parameterType="DmsDownloadRecords" resultMap="DmsDownloadRecordsResult">
        <include refid="selectDmsDownloadRecordsVo"/>
        <where>  
            <if test="fileId != null  and fileId != ''"> and file_id = #{fileId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="belongteam != null  and belongteam != ''"> and belongteam = #{belongteam}</if>
            <if test="downloadUserid != null "> and download_userid = #{downloadUserid}</if>
            <if test="downloadUser != null  and downloadUser != ''"> and download_user = #{downloadUser}</if>
            <if test="downloadTime != null "> and DATE(download_time) = #{downloadTime}</if>
        </where>
    </select>
    
    <select id="selectMostPopularFile" resultMap="DmsDownloadRecordsResult">
			SELECT file_id, file_name, belongteam, COUNT(*) as download_count
		    from dms_download_records
		    GROUP BY file_id, file_name, belongteam
		    ORDER BY download_count DESC
		    LIMIT 10
	</select>
	
	<select id="selectDownloadNumbyFileid" parameterType="Long" resultMap="DmsDownloadNumbyfileId">
			SELECT COUNT(*) as download_count
		    from dms_download_records
		    where file_id = #{fileId}
	</select>
    
    <select id="selectdeptdownloadfilenum" resultMap="DmsDeptfileNumResult">
		SELECT 
	        d.dept_id AS team_id,
	        d.dept_name AS team_name,
	        COUNT(*) AS file_num
	    FROM 
	        dms_download_records fdr
	    JOIN 
	        sys_user u ON fdr.download_userid = u.user_id
	    JOIN 
	        sys_dept d ON u.dept_id = d.dept_id
	    GROUP BY 
	        d.dept_id, d.dept_name
    </select>
    
    <select id="selectclassifieddownloadfilenum" resultMap="DmsClassifiedfileNumResult">
		SELECT
	        fi.file_type AS classified_id,
	        COUNT(*) AS file_num
	    FROM 
	        dms_download_records fdr
	    JOIN
	    	dms_file_info fi ON fdr.file_id = fi.file_id
	    GROUP BY
	    	fi.file_type
    </select>
    
    <select id="selectDmsDownloadRecordsById" parameterType="Long" resultMap="DmsDownloadRecordsResult">
        <include refid="selectDmsDownloadRecordsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDmsDownloadRecords" parameterType="DmsDownloadRecords" useGeneratedKeys="true" keyProperty="id">
        insert into dms_download_records
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null and fileId != ''">file_id,</if>
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="belongteam != null">belongteam,</if>
            <if test="downloadUserid != null">download_userid,</if>
            <if test="downloadUser != null">download_user,</if>
            <if test="downloadTime != null">download_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null and fileId != ''">#{fileId},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="belongteam != null">#{belongteam},</if>
            <if test="downloadUserid != null">#{downloadUserid},</if>
            <if test="downloadUser != null">#{downloadUser},</if>
            <if test="downloadTime != null">#{downloadTime},</if>
         </trim>
    </insert>

    <update id="updateDmsDownloadRecords" parameterType="DmsDownloadRecords">
        update dms_download_records
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileId != null and fileId != ''">file_id = #{fileId},</if>
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="belongteam != null">belongteam = #{belongteam},</if>
            <if test="downloadUserid != null">download_userid = #{downloadUserid},</if>
            <if test="downloadUser != null">download_user = #{downloadUser},</if>
            <if test="downloadTime != null">download_time = #{downloadTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDmsDownloadRecordsById" parameterType="Long">
        delete from dms_download_records where id = #{id}
    </delete>

    <delete id="deleteDmsDownloadRecordsByIds" parameterType="String">
        delete from dms_download_records where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>