<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DmsFilePublishMapper">
    
    <resultMap type="DmsFilePublish" id="DmsFilePublishResult">
    	<result property="id"    column="id"    />
        <result property="fileId"    column="file_id"    />
        <result property="publishId"    column="publish_id"    />
        <result property="comment"    column="comment"    />
        <result property="isPassed"    column="is_passed"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="isCurrent"    column="is_current"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="author"    column="author"    />
        <result property="reviewer"    column="reviewer"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileSize"    column="file_size"    />
        <result property="fileStatus"    column="file_status"    />
        <result property="belongteam"    column="belongteam"    />
        <result property="description"    column="description"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDmsFilePublishVo">
    	select fi.file_name,fi.file_path,fi.author,fi.reviewer,fi.file_type,fi.file_size,fi.publish_id,
        	fi.file_status,fi.belongteam,fi.description,fi.update_by,fi.update_time,
        	fp.id, fp.file_id, fp.publish_id, fp.comment, fp.is_passed, fp.publish_time,fp.is_current,fp.create_time
        from dms_file_publish fp
        	left join dms_file_info fi on fp.file_id = fi.file_id
    </sql>

    <select id="selectDmsFilePublishList" parameterType="DmsFilePublish" resultMap="DmsFilePublishResult">
        <include refid="selectDmsFilePublishVo"/>
        <where>
        	<if test="id != null  and id != ''"> and fp.id = #{id}</if>
        	<if test="fileId != null  and fileId != ''"> and fp.file_id = #{fileId}</if>
            <if test="comment != null  and comment != ''"> and comment = #{comment}</if>
            <if test="isPassed != null "> and is_passed = #{isPassed}</if>
            <if test="publishId!= null "> and fp.publish_id = #{publishId}</if>
            <if test="publishTime != null "> and DATE(publish_time) = #{publishTime}</if>
            <if test="isCurrent != null "> and is_current = #{isCurrent}</if>
        </where>
        ORDER BY create_time DESC
    </select>
    
    <select id="selectDmsFilePublishlatestList" resultMap="DmsFilePublishResult">
        <include refid="selectDmsFilePublishVo"/>
        <where> 
        	is_passed = 2 and is_current = 1
        </where>
        ORDER BY publish_time DESC
    	LIMIT 10
    </select>
    
    <select id="selectDmsFilePublishById" parameterType="Long" resultMap="DmsFilePublishResult">
        <include refid="selectDmsFilePublishVo"/>
        where id = #{id}
    </select>
    
    <select id="selectDmsFilePublishByFileId" parameterType="String" resultMap="DmsFilePublishResult">
        <include refid="selectDmsFilePublishVo"/>
        where fp.file_id = #{fileId}
    </select>
        
    <insert id="insertDmsFilePublish" parameterType="DmsFilePublish">
        insert into dms_file_publish
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null">file_id,</if>
            <if test="publishId != null">publish_id,</if>
            <if test="comment != null">comment,</if>
            <if test="isPassed != null">is_passed,</if>
            <if test="publishTime != null">publish_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null">#{fileId},</if>
            <if test="publishId != null">#{publishId},</if>
            <if test="comment != null">#{comment},</if>
            <if test="isPassed != null">#{isPassed},</if>
            <if test="publishTime != null">#{publishTime},</if>
         </trim>
    </insert>

    <update id="updateDmsFilePublish" parameterType="DmsFilePublish">
        update dms_file_publish
        <trim prefix="SET" suffixOverrides=",">
        	<if test="fileId != null">file_id = #{fileId},</if>
            <if test="publishId != null">publish_id = #{publishId},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="isPassed != null">is_passed = #{isPassed},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            <if test="isCurrent != null "> is_current = #{isCurrent},</if>
        </trim>
        where id = #{id}
    </update>
    
    <update id="updateDmsFilePublishByFileId" parameterType="DmsFilePublish">
        update dms_file_publish
        <trim prefix="SET" suffixOverrides=",">
            <if test="publishId != null">publish_id = #{publishId},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="isPassed != null">is_passed = #{isPassed},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            <if test="isCurrent != null "> is_current = #{isCurrent},</if>
        </trim>
        where file_id = #{fileId}
    </update>

    <delete id="deleteDmsFilePublishByFileId" parameterType="String">
        delete from dms_file_publish where file_id = #{fileId}
    </delete>

    <delete id="deleteDmsFilePublishByIds" parameterType="Long">
        delete from dms_file_publish where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>