<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DmsFileInfoMapper">
    
    <resultMap type="DmsFileInfo" id="DmsFileInfoResult">
        <result property="fileId"    column="file_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="author"    column="author"    />
        <result property="reviewer"    column="reviewer"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileSize"    column="file_size"    />
        <result property="fileStatus"    column="file_status"    />
        <result property="belongteam"    column="belongteam"    />
        <result property="description"    column="description"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="publishId"    column="publish_id"    />
        <result property="publishTime"    column="publish_time"    />
    </resultMap>
    
    <resultMap type="DmsDeptfileNum" id="DmsDeptfileNumResult">
    	<result property="teamname"    column="team_name"    />
        <result property="teamid"    column="team_id"    />
         <result property="filenum"    column="file_num"    />
    </resultMap>
    
    <resultMap type="DmsBasicNum" id="DmsBasicNumResult">
    	<result property="PublishNum"    column="Publish_num"    />
        <result property="waitReviewNum"    column="waitReview_num"    />
         <result property="waitPublishNum"    column="waitPublish_num"    />
         <result property="waitModifyNum"    column="waitModify_num"    />
    </resultMap>

    <sql id="selectDmsFileInfoVo">
        select file_id, file_name, file_path, author, reviewer, file_type, file_size, file_status, belongteam, description, update_by, update_time, publish_id from dms_file_info
    </sql>

    <select id="selectDmsFileInfoList" parameterType="DmsFileInfo" resultMap="DmsFileInfoResult">
        <include refid="selectDmsFileInfoVo"/>
        <where>  
            <if test="fileId != null  and fileId != ''"> and file_id = #{fileId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="author != null  and author != ''"> and author = #{author}</if>
            <if test="reviewer != null  and reviewer != ''"> and reviewer = #{reviewer}</if>
            <if test="fileType != null "> and file_type = #{fileType}</if>
            <if test="fileSize != null  and fileSize != ''"> and file_size = #{fileSize}</if>
            <if test="fileStatus != null "> and file_status = #{fileStatus}</if>
            <if test="belongteam != null  and belongteam != ''"> and belongteam = #{belongteam}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and DATE(update_time) = #{updateTime}</if>
            <if test="publishId != null "> and publish_id = #{publishId}</if>
        </where>
    </select>
    
    <select id="selectDmsFileInfoListByPremission" parameterType="DmsFileInfo" resultMap="DmsFileInfoResult">
        select DISTINCT
        	fi.file_id,fi.file_name,fi.file_path,fi.author,fi.reviewer,fi.file_type,fi.file_size,fi.publish_id,
        	fi.file_status,fi.belongteam,fi.description,fi.update_by,fi.update_time,fpb.publish_time
    	from dms_file_info fi
    	inner join dms_file_permissions fp ON fi.file_id = fp.file_id
   		inner join sys_user su ON fp.dept_id = su.dept_id
   		inner join dms_file_publish fpb ON fi.file_id = fpb.file_id
        <where>
        	<choose>
        	    <when test="queryuserRole == null">
        	 	</when>
        	    <when test="queryuserRole == 1">
        	 	</when>
        	 	<when test="queryuserRole == 2">
        	 	</when>
        	 	<when test="queryuserRole == 3">
        	 		<if test="queryuserId != null">and (su.user_id = #{queryuserId} or su.dept_id in (select parent_id from sys_dept where dept_id = (select dept_id from sys_user where user_id = #{queryuserId})))</if>
            	</when>
            	<when test="queryuserRole == 4">
                	and fp.dept_id= #{queryuserDept}
                	<if test="queryuserId != null">and su.user_id = #{queryuserId}</if>
            	</when>
            	<when test="queryuserRole == 5">
                	and su.dept_id in (select parent_id from sys_dept where dept_id = (select dept_id from sys_user where user_id = #{queryuserId}))
            	</when>
            </choose>
            <if test="fileId != null  and fileId != ''"> and fi.file_id = #{fileId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="author != null  and author != ''"> and author = #{author}</if>
            <if test="reviewer != null  and reviewer != ''"> and reviewer = #{reviewer}</if>
            <if test="fileType != null "> and file_type = #{fileType}</if>
            <if test="fileSize != null  and fileSize != ''"> and file_size = #{fileSize}</if>
            <if test="fileStatus != null "> and file_status = #{fileStatus}</if>
            <if test="belongteam != null  and belongteam != ''"> and belongteam = #{belongteam}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="updateBy != null  and updateBy != ''"> and fi.update_by = #{updateBy}</if>
            <if test="updateTime != null "> and DATE(fi.update_time) = #{updateTime}</if>
            <if test="publishId != null "> and fi.publish_id = #{publishId}</if>
            <if test="publishTime != null "> and DATE(publish_time) = #{publishTime}</if>
        </where>
        ORDER BY publish_time DESC
    </select>
    
    <select id="selectDmsFileInfoByFileId" parameterType="String" resultMap="DmsFileInfoResult">
        <include refid="selectDmsFileInfoVo"/>
        where file_id = #{fileId}
    </select>
    
     <select id="selectdeptfilenum" resultMap="DmsDeptfileNumResult">
        select d.dept_id as team_id,d.dept_name as team_name,count(*) as file_num
        from dms_file_info f
        join sys_dept d on f.belongteam = d.dept_name
        where f.file_status = 3
        group by f.belongteam,d.dept_id,d.dept_name
    </select>
    
    <select id="selectBacisnumByuserId" parameterType="Long" resultMap="DmsBasicNumResult">
         SELECT
	        (SELECT COUNT(*) FROM dms_file_info WHERE file_status = 3 AND update_by = (SELECT user_name FROM sys_user WHERE user_id = #{userid})) AS Publish_num,
	        (SELECT COUNT(*) FROM dms_file_review WHERE reviewer_id = #{userid} AND is_passed = 1) AS waitReview_num,
	        (SELECT COUNT(*) FROM dms_file_publish WHERE publish_id = #{userid} AND is_passed = 1) AS waitPublish_num,
	        (SELECT COUNT(*) FROM dms_file_info WHERE file_status = 4 AND update_by = (SELECT user_name FROM sys_user WHERE user_id = #{userid})) AS waitModify_num
    </select>
    
    <insert id="insertDmsFileInfo" parameterType="DmsFileInfo">
        insert into dms_file_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null">file_id,</if>
            <if test="fileName != null">file_name,</if>
            <if test="filePath != null">file_path,</if>
            <if test="author != null">author,</if>
            <if test="reviewer != null">reviewer,</if>
            <if test="fileType != null">file_type,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="fileStatus != null">file_status,</if>
            <if test="belongteam != null">belongteam,</if>
            <if test="description != null">description,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="publishId != null">publish_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null">#{fileId},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="author != null">#{author},</if>
            <if test="reviewer != null">#{reviewer},</if>
            <if test="fileType != null">#{fileType},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="fileStatus != null">#{fileStatus},</if>
            <if test="belongteam != null">#{belongteam},</if>
            <if test="description != null">#{description},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="publishId != null">#{publishId},</if>
         </trim>
    </insert>
    
    <update id="updateDmsFileInfo" parameterType="DmsFileInfo">
        update dms_file_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="author != null">author = #{author},</if>
            <if test="reviewer != null">reviewer = #{reviewer},</if>
            <if test="fileType != null">file_type = #{fileType},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="fileStatus != null">file_status = #{fileStatus},</if>
            <if test="belongteam != null">belongteam = #{belongteam},</if>
            <if test="description != null">description = #{description},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="publishId != null">publish_id = #{publishId},</if>
        </trim>
        where file_id = #{fileId}
    </update>
    
    <update id="updateDmsFileStatus" parameterType="DmsFileInfo">
        update dms_file_info
        <set>
            <if test="fileStatus != null">file_status = #{fileStatus},</if>
        </set>
        where file_id = #{fileId}
    </update>

    <delete id="deleteDmsFileInfoByFileId" parameterType="String">
        delete from dms_file_info where file_id = #{fileId}
    </delete>

    <delete id="deleteDmsFileInfoByFileIds" parameterType="String">
        delete from dms_file_info where file_id in 
        <foreach item="fileId" collection="array" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>
</mapper>