<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DmsFileReviewMapper">
    
    <resultMap type="DmsFileReview" id="DmsFileReviewResult">
        <result property="id"    column="id"    />
        <result property="fileId"    column="file_id"    />
        <result property="reviewerId"    column="reviewer_id"    />
        <result property="comment"    column="comment"    />
        <result property="status"    column="status"    />
        <result property="reviewTime"    column="review_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="isCurrent"    column="is_current"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="author"    column="author"    />
        <result property="reviewer"    column="reviewer"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileSize"    column="file_size"    />
        <result property="fileStatus"    column="file_status"    />
        <result property="belongteam"    column="belongteam"    />
        <result property="description"    column="description"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDmsFileReviewVo">
        select fi.file_name,fi.file_path,fi.author,fi.reviewer,fi.file_type,fi.file_size,fi.publish_id,
        	fi.file_status,fi.belongteam,fi.description,fi.update_by,fi.update_time,
        fr.id, fr.file_id, fr.reviewer_id, fr.comment, fr.status, fr.review_time, fr.create_time, fr.is_current
        from dms_file_review fr
        	left join dms_file_info fi on fr.file_id = fi.file_id
    </sql>

    <select id="selectDmsFileReviewList" parameterType="DmsFileReview" resultMap="DmsFileReviewResult">
        <include refid="selectDmsFileReviewVo"/>
        <where>  
            <if test="fileId != null  and fileId != ''"> and fr.file_id = #{fileId}</if>
            <if test="reviewerId != null "> and reviewer_id = #{reviewerId}</if>
            <if test="comment != null  and comment != ''"> and comment = #{comment}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="reviewTime != null "> and review_time = #{reviewTime}</if>
            <if test="isCurrent != null "> and is_current = #{isCurrent}</if>
        </where>
         ORDER BY create_time DESC
    </select>
    
    <select id="selectDmsFileReviewById" parameterType="Long" resultMap="DmsFileReviewResult">
        <include refid="selectDmsFileReviewVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDmsFileReview" parameterType="DmsFileReview" useGeneratedKeys="true" keyProperty="id">
        insert into dms_file_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null and fileId != ''">file_id,</if>
            <if test="reviewerId != null">reviewer_id,</if>
            <if test="comment != null">comment,</if>
            <if test="status != null">status,</if>
            <if test="reviewTime != null">review_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="isCurrent != null">is_current,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null and fileId != ''">#{fileId},</if>
            <if test="reviewerId != null">#{reviewerId},</if>
            <if test="comment != null">#{comment},</if>
            <if test="status != null">#{status},</if>
            <if test="reviewTime != null">#{reviewTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="isCurrent != null">#{isCurrent},</if>
         </trim>
    </insert>

    <update id="updateDmsFileReview" parameterType="DmsFileReview">
        update dms_file_review
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileId != null and fileId != ''">file_id = #{fileId},</if>
            <if test="reviewerId != null">reviewer_id = #{reviewerId},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="status != null">status = #{status},</if>
            <if test="reviewTime != null">review_time = #{reviewTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="isCurrent != null">is_current = #{isCurrent},</if>
        </trim>
        <where>
        	<if test="id != null">
            id = #{id}
        	</if>
        	<if test="id == null and fileId != null">
            file_id = #{fileId}
        	</if>
    	</where>
    </update>

    <delete id="deleteDmsFileReviewById" parameterType="Long">
        delete from dms_file_review where id = #{id}
    </delete>

    <delete id="deleteDmsFileReviewByIds" parameterType="String">
        delete from dms_file_review where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>