<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DmsNewsImagesMapper">
    
    <resultMap type="DmsNewsImages" id="DmsNewsImagesResult">
        <result property="id"    column="id"    />
        <result property="path"    column="path"    />
        <result property="title"    column="title"    />
        <result property="description"    column="description"    />
        <result property="creatTime"    column="creat_time"    />
        <result property="isShow"    column="is_show"    />
    </resultMap>

    <sql id="selectDmsNewsImagesVo">
        select id, path, title, description, creat_time, is_show from dms_news_images
    </sql>

    <select id="selectDmsNewsImagesList" parameterType="DmsNewsImages" resultMap="DmsNewsImagesResult">
        <include refid="selectDmsNewsImagesVo"/>
        <where>  
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="creatTime != null "> and creat_time = #{creatTime}</if>
            <if test="isShow != null "> and is_show = #{isShow}</if>
        </where>
        ORDER BY creat_time  DESC
    </select>
    
    <select id="selectDmsNewsImagesById" parameterType="Long" resultMap="DmsNewsImagesResult">
        <include refid="selectDmsNewsImagesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDmsNewsImages" parameterType="DmsNewsImages" useGeneratedKeys="true" keyProperty="id">
        insert into dms_news_images
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="path != null">path,</if>
            <if test="title != null">title,</if>
            <if test="description != null">description,</if>
            <if test="creatTime != null">creat_time,</if>
            <if test="isShow != null">is_show,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="path != null">#{path},</if>
            <if test="title != null">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="creatTime != null">#{creatTime},</if>
            <if test="isShow != null">#{isShow},</if>
         </trim>
    </insert>

    <update id="updateDmsNewsImages" parameterType="DmsNewsImages">
        update dms_news_images
        <trim prefix="SET" suffixOverrides=",">
            <if test="path != null">path = #{path},</if>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="creatTime != null">creat_time = #{creatTime},</if>
            <if test="isShow != null">is_show = #{isShow},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDmsNewsImagesById" parameterType="Long">
        delete from dms_news_images where id = #{id}
    </delete>

    <delete id="deleteDmsNewsImagesByIds" parameterType="String">
        delete from dms_news_images where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>