<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dms.mapper.DmsFileMapper">
    
    <resultMap type="DmsFile" id="DmsFileResult">
        <result property="FileID"    column="FileID"    />
        <result property="FileName"    column="FileName"    />
        <result property="FilePath"    column="FilePath"    />
        <result property="author"    column="author"    />
        <result property="ReviewerID"    column="ReviewerID"    />
        <result property="FileType"    column="FileType"    />
        <result property="FileSize"    column="FileSize"    />
        <result property="Status"    column="Status"    />
        <result property="Team"    column="Team"    />
        <result property="Description"    column="Description"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDmsFileVo">
        select FileID, FileName, FilePath, author, ReviewerID, FileType, FileSize, Status, Team, Description, update_by, update_time from dms_file
    </sql>

    <select id="selectDmsFileList" parameterType="DmsFile" resultMap="DmsFileResult">
        <include refid="selectDmsFileVo"/>
        <where>  
            <if test="FileID != null "> and FileID = #{FileID}</if>
            <if test="FileName != null  and FileName != ''"> and FileName like concat('%', #{FileName}, '%')</if>
            <if test="author != null  and author != ''"> and author = #{author}</if>
            <if test="ReviewerID != null  and ReviewerID != ''"> and ReviewerID = #{ReviewerID}</if>
            <if test="FileType != null "> and FileType = #{FileType}</if>
            <if test="FileSize != null "> and FileSize = #{FileSize}</if>
            <if test="Status != null "> and Status = #{Status}</if>
            <if test="Team != null  and Team != ''"> and Team = #{Team}</if>
            <if test="Description != null  and Description != ''"> and Description = #{Description}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>
    
    <select id="selectDmsFileByFileID" parameterType="Long" resultMap="DmsFileResult">
        <include refid="selectDmsFileVo"/>
        where FileID = #{FileID}
    </select>
        
    <insert id="insertDmsFile" parameterType="DmsFile" useGeneratedKeys="true" keyProperty="FileID">
        insert into dms_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="FileName != null and FileName != ''">FileName,</if>
            <if test="FilePath != null">FilePath,</if>
            <if test="author != null and author != ''">author,</if>
            <if test="ReviewerID != null">ReviewerID,</if>
            <if test="FileType != null">FileType,</if>
            <if test="FileSize != null">FileSize,</if>
            <if test="Status != null">Status,</if>
            <if test="Team != null and Team != ''">Team,</if>
            <if test="Description != null">Description,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="FileName != null and FileName != ''">#{FileName},</if>
            <if test="FilePath != null">#{FilePath},</if>
            <if test="author != null and author != ''">#{author},</if>
            <if test="ReviewerID != null">#{ReviewerID},</if>
            <if test="FileType != null">#{FileType},</if>
            <if test="FileSize != null">#{FileSize},</if>
            <if test="Status != null">#{Status},</if>
            <if test="Team != null and Team != ''">#{Team},</if>
            <if test="Description != null">#{Description},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDmsFile" parameterType="DmsFile">
        update dms_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="FileName != null and FileName != ''">FileName = #{FileName},</if>
            <if test="FilePath != null">FilePath = #{FilePath},</if>
            <if test="author != null and author != ''">author = #{author},</if>
            <if test="ReviewerID != null">ReviewerID = #{ReviewerID},</if>
            <if test="FileType != null">FileType = #{FileType},</if>
            <if test="FileSize != null">FileSize = #{FileSize},</if>
            <if test="Status != null">Status = #{Status},</if>
            <if test="Team != null and Team != ''">Team = #{Team},</if>
            <if test="Description != null">Description = #{Description},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where FileID = #{FileID}
    </update>

    <delete id="deleteDmsFileByFileID" parameterType="Long">
        delete from dms_file where FileID = #{FileID}
    </delete>

    <delete id="deleteDmsFileByFileIDs" parameterType="String">
        delete from dms_file where FileID in 
        <foreach item="FileID" collection="array" open="(" separator="," close=")">
            #{FileID}
        </foreach>
    </delete>
</mapper>